force-app/main/default/flows/Assessment_Document_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Document</name>
        <label>Create Document</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>AssessmentDocumentController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_SAFE_C</name>
        <label>Check SAFE-C</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SAFE_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assessment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAFE-C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Document</targetReference>
            </connector>
            <label>If SAFE-C</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Approval_Notification_Msg</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+ &apos; HAS BEEN APPROVED BY &apos; +UPPER({!$Record.Supervisor_Approver__r.FirstName}) + &apos; &apos;+UPPER({!$Record.Supervisor_Approver__r.LastName})+&apos; ON &apos; + TEXT(MONTH({!$Flow.CurrentDate})) + &apos;/&apos; + TEXT(DAY({!$Flow.CurrentDate})) + &apos;/&apos; + TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Assessment Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Document Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_SAFE_C</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Refresh_Checklist_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_Notification_for_Submitter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Assessment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Custom_Notification_for_Submitter</name>
        <label>Custom Notification for Submitter</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
        <flowName>Custom_Notification_for_Submitter</flowName>
        <inputAssignments>
            <name>Notification_Body</name>
            <value>
                <elementReference>Approval_Notification_Msg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>emailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
