force-app/main/default/flows/Assign_records_to_users_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_worker</name>
        <label>Send email to worker</label>
        <locationX>160</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_for_object</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmailIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Investigation_Or_Service_Case_Title} HAS BEEN ASSIGNED TO YOU</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification</name>
        <label>Send notification</label>
        <locationX>160</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_email_to_worker</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Investigation_Or_Service_Case_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Target_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_recipient_ID</name>
        <label>Assign recipient ID</label>
        <locationX>160</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>recipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmailIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_custom_notification</name>
        <label>Check custom notification</label>
        <locationX>292</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_for_object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recipient_ID</targetReference>
            </connector>
            <label>If exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_object</name>
        <label>Check for object</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Case_share_records</targetReference>
            </connector>
            <label>If Service Case</label>
        </rules>
        <rules>
            <name>If_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Investigation_share_records</targetReference>
            </connector>
            <label>If Investigation</label>
        </rules>
        <rules>
            <name>If_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Select_a_Social_Worker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Intake__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Intake_share_records</targetReference>
            </connector>
            <label>If intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_share_record</name>
        <label>Check for share record</label>
        <locationX>446</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_null_for_service_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Case_share_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_case_share_records</targetReference>
            </connector>
            <label>If null for service case</label>
        </rules>
        <rules>
            <name>If_null_for_investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Investigation_share_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Investigation_Share_record</targetReference>
            </connector>
            <label>If null for investigation</label>
        </rules>
        <rules>
            <name>If_null_for_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_share_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Intake_Share_Record</targetReference>
            </connector>
            <label>If null for intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_new_or_updated</name>
        <label>Check new or updated</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_for_object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Select_a_Social_Worker__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_ID</targetReference>
            </connector>
            <label>If new/updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>HOH_Name</name>
        <dataType>String</dataType>
        <expression>IF( 
NOT( ISBLANK(  {!$Record.Service_Case__c} )  ) &amp;&amp;  NOT(ISBLANK( {!$Record.Service_Case__r.Head_of_Household__c})) , &apos; FOR &apos;+ {!$Record.Service_Case__r.Head_of_Household__r.FirstName}  + &apos; &apos; +  {!$Record.Service_Case__r.Head_of_Household__r.MiddleName}  + &apos; &apos; + {!$Record.Service_Case__r.Head_of_Household__r.LastName} + &apos; &apos; + {!$Record.Service_Case__r.Head_of_Household__r.Suffix},
IF( NOT( ISBLANK( {!$Record.Investigation__c})) &amp;&amp;  NOT(ISBLANK({!$Record.Investigation__r.Head_of_Household__c})), &apos; FOR &apos;+ {!$Record.Investigation__r.Head_of_Household__r.FirstName} + &apos; &apos;+ {!$Record.Investigation__r.Head_of_Household__r.MiddleName}+&apos; &apos;+ {!$Record.Investigation__r.Head_of_Household__r.LastName}+&apos; &apos;+ {!$Record.Investigation__r.Head_of_Household__r.Suffix},
IF( NOT( ISBLANK( {!$Record.Investigation__c})) &amp;&amp;  NOT(ISBLANK({!$Record.Intake__r.contact__c})), &apos; FOR &apos;+ {!$Record.Intake__r.contact__r.FirstName} + &apos; &apos;+ {!$Record.Intake__r.contact__r.MiddleName}+&apos; &apos;+ {!$Record.Intake__r.contact__r.LastName}+&apos; &apos;+ {!$Record.Intake__r.contact__r.Suffix},&apos;&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <name>Investigation_Or_Service_Case_Title</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK({!$Record.Service_Case__c})), {!$Record.Service_Case__r.Name} , 
IF( NOT(ISBLANK({!$Record.Investigation__c})),{!$Record.Investigation__r.Name},
IF( NOT(ISBLANK({!$Record.Intake__c})),{!$Record.Intake__r.CaseNumber},&apos;&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Notification_Body</name>
        <dataType>String</dataType>
        <expression>{!Investigation_Or_Service_Case_Title} + UPPER({!HOH_Name}) + &apos; HAS BEEN ASSIGNED &apos;</expression>
    </formulas>
    <formulas>
        <name>recordUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; 
   {!Target_ID}</expression>
    </formulas>
    <formulas>
        <name>Target_ID</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK({!$Record.Investigation__c})), {!$Record.Investigation__c}, 
IF( NOT(ISBLANK({!$Record.Service_Case__c})),{!$Record.Service_Case__c},
IF( NOT(ISBLANK({!$Record.Intake__c})),{!$Record.Intake__c},&apos;&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <name>UpperCase_of_HOH</name>
        <dataType>String</dataType>
        <expression>UPPER({!HOH_Name})</expression>
    </formulas>
    <interviewLabel>Assign records to users flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign records to users flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Intake_Share_Record</name>
        <label>Create Intake Share Record</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Intake__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Investigation_Share_record</name>
        <label>Create Investigation Share record</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <object>Investigation__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_case_share_records</name>
        <label>Create Service case share records</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Case__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Notification_ID</name>
        <label>Get Custom Notification ID</label>
        <locationX>292</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_custom_notification</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_share_records</name>
        <label>Get Intake share records</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_share_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intake__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseAccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Investigation_share_records</name>
        <label>Get Investigation share records</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_share_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investigation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investigation__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Case_share_records</name>
        <label>Get Service Case share records</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_share_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Select_a_Social_Worker__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Case__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_new_or_updated</targetReference>
        </connector>
        <object>Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!recordUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Investigation_Or_Service_Case_Title}&lt;/a&gt;  {!UpperCase_of_HOH}  HAS BEEN ASSIGNED &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientEmailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
