force-app/main/default/flows/Client_Abilities_and_Response_Type_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Client_abilities_and_response_type_Value</name>
        <label>Assign Client abilities and response type Value</label>
        <locationX>732</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Medical_care_for_physical_and_mental__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medical_care_for_physical_and_mental_health_needs_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Ability_to_move_freely_within_their_home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ability_to_move_freely_within_their_home_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Assistance_in_personal_hygiene__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assistance_in_personal_hygiene_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Have_adequate_food__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_adequate_food_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Have_adequate_clothing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_adequate_clothing_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Have_adequate_heated_and_ventilated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_adequate_heated_and_ventilated_shelter_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Have_adequate_electricity_and_water__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_adequate_electricity_and_water_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Have_adequate_protection_from_health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_adequate_protection_from_health_and_safety_hazards_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Have_adequate_household_necessities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_adequate_household_necessities_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Have_adequate_transportation_necessary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_adequate_transportation_necessary_to_secure_any_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Court_order_for_any_victim_being_deemed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_there_a_court_order_for_any_victim_being_deemed_by_a_court_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Is_this_person_the_legal_guardian__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_person_the_legal_guardian_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Does_this_person_have_power_of_attorney__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_person_have_power_of_attorney_for_any_alleged_victims_or_person_field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_SDM_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake_id</name>
        <label>Assign Intake id</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Vulnerability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Investigation_id</name>
        <label>Assign Investigation id</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Vulnerability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Servicecase_id</name>
        <label>Assign Servicecase id</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>New_Vulnerability.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Vulnerability</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_Vulnerability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_investigation_serviceCase_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intake_id</targetReference>
            </connector>
            <label>If intake</label>
        </rules>
        <rules>
            <name>If_investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_investigation_serviceCase_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Investigation_id</targetReference>
            </connector>
            <label>If investigation</label>
        </rules>
        <rules>
            <name>If_Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_investigation_serviceCase_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Servicecase_id</targetReference>
            </connector>
            <label>If Service Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SDM_records</name>
        <label>If SDM records</label>
        <locationX>732</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Update_Vulnerability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vulnerability_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Object</targetReference>
            </connector>
            <label>Check SDM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Client Abilities and Response Type  Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Abilities and Response Type  Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Vulnerability</name>
        <label>Create Vulnerability</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <inputReference>New_Vulnerability</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Vulnerability_Record</name>
        <label>Get Vulnerability Record</label>
        <locationX>732</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_abilities_and_response_type_screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Investigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intake_investigation_servicecaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vulnerability</name>
        <label>Update Vulnerability</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <inputReference>New_Vulnerability</inputReference>
    </recordUpdates>
    <screens>
        <name>Client_abilities_and_response_type_screen</name>
        <label>Client abilities and response type screen</label>
        <locationX>732</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Client_abilities_and_response_type_Value</targetReference>
        </connector>
        <fields>
            <name>Heading</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Does the alleged victim have access to services which are necessary to maintain physical or mental health or both?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>medical_care_for_physical_and_mental_health_needs_Field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Medical_care_for_physical_and_mental__c</elementReference>
            </defaultValue>
            <fieldText>Medical care for physical and mental health needs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ability_to_move_freely_within_their_home_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Ability_to_move_freely_within_their_home__c</elementReference>
            </defaultValue>
            <fieldText>Ability to move freely within their home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assistance_in_personal_hygiene_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Assistance_in_personal_hygiene__c</elementReference>
            </defaultValue>
            <fieldText>Assistance in personal hygiene</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_adequate_food_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Have_adequate_food__c</elementReference>
            </defaultValue>
            <fieldText>Have adequate food</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_adequate_clothing_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Have_adequate_clothing__c</elementReference>
            </defaultValue>
            <fieldText>Have adequate clothing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_adequate_heated_and_ventilated_shelter_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Have_adequate_heated_and_ventilated__c</elementReference>
            </defaultValue>
            <fieldText>Have adequate heated and ventilated shelter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_adequate_electricity_and_water_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Have_adequate_electricity_and_water__c</elementReference>
            </defaultValue>
            <fieldText>Have adequate electricity and water</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_adequate_protection_from_health_and_safety_hazards_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Have_adequate_protection_from_health__c</elementReference>
            </defaultValue>
            <fieldText>Have adequate protection from health and safety hazards</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_adequate_household_necessities_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Have_adequate_household_necessities__c</elementReference>
            </defaultValue>
            <fieldText>Have adequate household necessities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_adequate_transportation_necessary_to_secure_any_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Have_adequate_transportation_necessary__c</elementReference>
            </defaultValue>
            <fieldText>Have adequate transportation necessary to secure any of the above stated needs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_there_a_court_order_for_any_victim_being_deemed_by_a_court_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Court_order_for_any_victim_being_deemed__c</elementReference>
            </defaultValue>
            <fieldText>Are there a court order for any victim being deemed by a court as unable to care for themselves or their affairs?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Alleged_maltreator_Names</name>
            <fieldText>&lt;p&gt;Alleged maltreator&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_person_the_legal_guardian_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Is_this_person_the_legal_guardian__c</elementReference>
            </defaultValue>
            <fieldText>Is this person the legal guardian</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_this_person_have_power_of_attorney_for_any_alleged_victims_or_person_field</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Vulnerability_Record.Does_this_person_have_power_of_attorney__c</elementReference>
            </defaultValue>
            <fieldText>Does this person have power of attorney for any alleged victims or person’s financial entities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vulnerability_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intake_investigation_serviceCase_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intake_investigation_servicecaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Vulnerability</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDM__c</objectType>
    </variables>
</Flow>
