force-app/main/default/flows/Education_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_person_in_education</name>
        <label>Assign person in education</label>
        <locationX>94</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>educationRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Education</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_personId</name>
        <label>Check personId</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_personId_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_person_in_education</targetReference>
            </connector>
            <label>If personId exists</label>
        </rules>
        <rules>
            <name>If_examId_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>educationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Education</targetReference>
            </connector>
            <label>If examId exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Update</name>
        <label>Insert/Update</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>educationRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_education</targetReference>
            </connector>
            <label>If insert</label>
        </rules>
        <rules>
            <name>If_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>educationRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_education</targetReference>
            </connector>
            <label>If update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Zipcode_number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!educationRecord.Zipcode__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Education flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Education flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_education</name>
        <label>Create education</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>educationRecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_education</name>
        <label>Update education</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <inputReference>educationRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Education</name>
        <label>Education</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_Update</targetReference>
        </connector>
        <fields>
            <name>Person_Name</name>
            <fieldText>&lt;p&gt;Person : &lt;strong&gt;{!educationRecord.Contact__r.FirstName}   {!educationRecord.Contact__r.MiddleName} {!educationRecord.Contact__r.LastName} {!educationRecord.Contact__r.Suffix}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>School_Information</name>
            <fieldText>School Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>School_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.School_Contact_First_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Contact_Title__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Contact_Email__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>School_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.State_Assigned_Student_Identifier_SASID__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.School_Contact_Last_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Work_Phone_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>School_Address</name>
            <fieldText>School Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>School_Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>address_Cmp</name>
                    <extensionName>c:addressValidationLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>address1</name>
                        <value>
                            <elementReference>educationRecord.Address_Line_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>address2</name>
                        <value>
                            <elementReference>educationRecord.Address_Line_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>educationRecord.Education_City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>educationRecord.Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>county</name>
                        <value>
                            <elementReference>educationRecord.County__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>educationRecord.State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>zipcode</name>
                        <value>
                            <elementReference>educationRecord.Zipcode__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalcode</name>
                        <value>
                            <elementReference>Zipcode_number</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>educationRecord.Address_Line_1__c</assignToReference>
                        <name>address1</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>educationRecord.Address_Line_2__c</assignToReference>
                        <name>address2</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>educationRecord.Education_City__c</assignToReference>
                        <name>city</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>educationRecord.Country__c</assignToReference>
                        <name>country</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>educationRecord.County__c</assignToReference>
                        <name>county</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>educationRecord.State__c</assignToReference>
                        <name>state</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>educationRecord.Zipcode__c</assignToReference>
                        <name>zipcode</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_Information</name>
            <fieldText>Education Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.School_Entry_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.School_Exit_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Education_Program__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Is_the_child_on_grade_level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Does_the_child_have_an_IEP__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Will_child_be_attending_Summer_School__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Education_Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Report_Card</name>
                    <extensionName>c:fileUploadLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Education_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.School_Exit_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Educational_Transportation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Current_Grade__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Comments__c</objectFieldReference>
                </fields>
                <fields>
                    <name>IEP_file</name>
                    <extensionName>c:fileUploadLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Type_of_Class__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>educationRecord.Education_End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Floww</name>
        <label>Floww</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_personId</targetReference>
        </connector>
        <fields>
            <name>Test</name>
            <dataType>String</dataType>
            <fieldText>Test</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DT</name>
            <fieldText>&lt;p&gt;Hi - {!Test}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Floww</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>educationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Education__c</objectType>
    </variables>
    <variables>
        <name>fileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
