force-app/main/default/flows/Intake_after_approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <actionName>c:NavigateFromFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentID</name>
            <value>
                <elementReference>Get_created_service_cases.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigation_Case_Connect</name>
        <label>Navigation</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <actionName>c:NavigateFromFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentID</name>
            <value>
                <elementReference>caseConnectID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigation_INV</name>
        <label>Navigation</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <actionName>c:NavigateFromFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentID</name>
            <value>
                <elementReference>Get_investigations.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_case_connect_id_in_intake</name>
        <label>Assign case connect id in intake</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Get_Intake_Details.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseConnectID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Connect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake_Id</name>
        <label>Assign Intake Id</label>
        <locationX>897</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>intakeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Instance_Step_Details.ProcessInstance.TargetObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Intake_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Case_Connect</name>
        <choiceText>Case Connect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Connect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_service_case</name>
        <choiceText>Create new service case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new service case</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Called_from_Component</name>
        <label>Called from Component</label>
        <locationX>1073</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>callFromCmp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>intakeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Intake_Details</targetReference>
            </connector>
            <label>If true</label>
        </rules>
        <rules>
            <name>If_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Instance_Step_Details</targetReference>
            </connector>
            <label>If false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_action_type</name>
        <label>Check for action type</label>
        <locationX>512</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_service_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_service_case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Case_Creation</targetReference>
            </connector>
            <label>If new service case</label>
        </rules>
        <rules>
            <name>If_case_connect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Connect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseConnectID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_connect_id_in_intake</targetReference>
            </connector>
            <label>If case connect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Intake</name>
        <label>Check for Intake</label>
        <locationX>1029</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Instance_Step_Details.ProcessInstance.TargetObjectId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intake_Id</targetReference>
            </connector>
            <label>If intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_exists</name>
        <label>Check record exists</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_service_case_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_created_service_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigation</targetReference>
            </connector>
            <label>If service case created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_exists_INV</name>
        <label>Check record exists</label>
        <locationX>1238</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_investigation_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_investigations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigation_INV</targetReference>
            </connector>
            <label>If investigation created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1073</locationX>
        <locationY>1070</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_RFS_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_Details.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_Details.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_service_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_Details.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Connect_Screen</targetReference>
            </connector>
            <label>If RFS approved</label>
        </rules>
        <rules>
            <name>If_CPS_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_Details.Intake_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_Details.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Protective Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_investigations</targetReference>
            </connector>
            <label>If CPS approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Intake after approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intake after approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_created_service_cases</name>
        <label>Get created service cases</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Case__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_Details</name>
        <label>Get Intake Details</label>
        <locationX>1073</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_service_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_investigations</name>
        <label>Get investigations</label>
        <locationX>1238</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_exists_INV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Investigation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance_Step_Details</name>
        <label>Get Process Instance Step Details</label>
        <locationX>1029</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_service_cases</name>
        <label>Get service cases</label>
        <locationX>1073</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Case__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Connect</name>
        <label>Update Case Connect</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Navigation_Case_Connect</targetReference>
        </connector>
        <inputReference>Get_Intake_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Connect_Screen</name>
        <label>Case Connect Screen</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_action_type</targetReference>
        </connector>
        <fields>
            <name>Select_Choices</name>
            <choiceReferences>Create_new_service_case</choiceReferences>
            <choiceReferences>Case_Connect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Connect_Cmp</name>
            <extensionName>c:caseConnectCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Intake_Details.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>caseConnectID</assignToReference>
                <name>selectedCaseConnect</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Case_Connect</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Called_from_Component</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Service_Case_Creation</name>
        <label>Service Case Creation</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_created_service_cases</targetReference>
        </connector>
        <flowName>Service_Case_Create_Flow</flowName>
        <inputAssignments>
            <name>IntakeIns</name>
            <value>
                <elementReference>Get_Intake_Details</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>callFromCmp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseConnectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Casevault</stringValue>
        </value>
    </variables>
</Flow>
