force-app/main/default/flows/Kinship_Home_Fictive_Kin_Home.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Collateral_Id</name>
        <label>Assign Collateral Id</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Collateral_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_recordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Living_Arrangement_Values</name>
        <label>Assign Living Arrangement Values</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Home_has_adequate_sleeping_space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_has_adequate_sleeping_space_for_child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Initial_Criminal_Sex_Offender_CPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Criminal_Sex_Offender_CPS_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Home_is_structurally_sound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_is_structurally_sound_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Home_has_running_water__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_has_running_water_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Home_has_appropriate_toilet_facilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_has_appropriate_toilet_facilities_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Caregiver_has_financial_means_to_care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caregiver_has_financial_means_to_care_for_the_child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Caregiver_has_or_will_apply_for_TANF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caregiver_has_or_will_apply_for_TANF_benefits_for_the_child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Caregiver_has_or_will_apply_for_Medical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caregiver_has_or_will_apply_for_Medical_Assistance_for_the_child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Caregiver_is_committed_to_caring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caregiver_is_committed_to_caring_long_term_for_the_child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Caregiver_child_as_a_surrogate_parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caregiver_understands_they_have_responsibility_to_care_for_the_child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Caregiver_Corporal_Punishment_on_Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caregiver_understands_they_will_not_use_corporal_punishment_on_the_child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Placement_Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Arrangement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.address2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.county</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.postalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Kinship_FictiveKin_CaregiverRelationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kinship_Fictive_Kin_Caregiver_Relationship_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Input_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record</name>
        <label>Assign Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Kinship_Home_Fictive_Kin_Home_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Collateral_Record</name>
        <label>Check for Collateral Record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Collateral_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Collateral_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Collateral_Id</targetReference>
            </connector>
            <label>Is Present ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Input_Record</name>
        <label>Check for Input Record</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Collateral_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Open_Living_Arrangement</targetReference>
            </connector>
            <label>Is  Not Present ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_recordId</name>
        <label>Check for recordId</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_Living_Arrangement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Living_Arrangement_Record</targetReference>
            </connector>
            <label>Is Present?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Kinship_Fictive_Kin_Caregiver_Relationship_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Kinship_FictiveKin_CaregiverRelationship__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Yes_No_Pickvalues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Caregiver_has_financial_means_to_care__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Kinship Home/Fictive Kin Home {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Kinship Home/Fictive Kin Home</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Collateral_Record</name>
        <label>Create Collateral Record</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>Living_Arrangement_Record.Collateral__c</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_recordId</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>collateralDOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Living Arrangement Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>Social_Security_Number_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>Living_Arrangement_Record.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <object>Collateral__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Living_Arrangement_Record</name>
        <label>Create Living Arrangement Record</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <inputReference>Living_Arrangement_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Collateral_Record</name>
        <label>Get Collateral Record</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Collateral_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name_Field</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_Field</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Living Arrangement Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Collateral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Living_Arrangement_Record</name>
        <label>Update Living Arrangement Record</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <inputReference>Living_Arrangement_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Kinship_Home_Fictive_Kin_Home_Screen</name>
        <label>Kinship Home/Fictive Kin Home Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Living_Arrangement_Values</targetReference>
        </connector>
        <fields>
            <name>Kinship_Home_Fictive_Kin_Home_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Client Name : &lt;/strong&gt;{!Child_Record.FirstName}       {!Child_Record.MiddleName}  {!Child_Record.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_PEID</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Client PEID : &lt;/strong&gt;{!Child_Record.Casevault_PID__c}﻿&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_Age</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Age :&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;{!Child_Record.Age__c}﻿&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Kinship_Home_Fictive_Kin_Home_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Arrangement_Type</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Living Arrangement Type :  &lt;/strong&gt;{!Living_Arrangement_Record.Living_Arrangement_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Kinship_Home_Fictive_Kin_Home_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Kinship_Fictive_Kin_Caregiver_Relationship_Field</name>
                    <choiceReferences>Kinship_Fictive_Kin_Caregiver_Relationship_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Kinship_FictiveKin_CaregiverRelationship__c</elementReference>
                    </defaultValue>
                    <fieldText>Kinship/Fictive Kin Caregiver Relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Kinship_Home_Fictive_Kin_Home_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Start Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Start_Date__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Living_Arrangement_Record.Start_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Living_Arrangement_Record.End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Contact_Name</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact Name :&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Kinship_Home_Fictive_Kin_Home_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Collateral__r.First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone_Field</name>
                    <dataType>Number</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Social_Security_Number_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Collateral__r.SSN__c</elementReference>
                    </defaultValue>
                    <fieldText>Social Security Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Collateral__r.Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DateOfBirth</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Date of Birth</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>collateralDOB</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Kinship_Home_Fictive_Kin_Home_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Address : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Address_Field</name>
                    <extensionName>c:addressValidationLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>address1</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Address_Line_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>address2</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Address_Line_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>county</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.County__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>zipcode</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Zip_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Kinship_Home_Fictive_Kin_Home_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Kinship_Home_Fictive_Kin_Home_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Home_Assessment</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Home Assessment Checklist for Kinship/Fictive Kin Home : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HomeAssessmentCompletedDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Home Assessment Completed Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Home_Assessment_Completed_Date__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Living_Arrangement_Record.Home_Assessment_Completed_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Home_has_adequate_sleeping_space_for_child_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Home_has_adequate_sleeping_space__c</elementReference>
                    </defaultValue>
                    <fieldText>Home has adequate sleeping space for child ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Initial_Criminal_Sex_Offender_CPS_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Initial_Criminal_Sex_Offender_CPS__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Criminal, Sex Offender, CPS clearances have been completed for all persons in the household ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Home_is_structurally_sound_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Home_is_structurally_sound__c</elementReference>
                    </defaultValue>
                    <fieldText>Home is structurally sound ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Home_has_running_water_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Home_has_running_water__c</elementReference>
                    </defaultValue>
                    <fieldText>Home has running water ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Home_has_appropriate_toilet_facilities_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Home_has_appropriate_toilet_facilities__c</elementReference>
                    </defaultValue>
                    <fieldText>Home has appropriate toilet facilities ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Caregiver_has_financial_means_to_care_for_the_child_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Caregiver_has_financial_means_to_care__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver has financial means to care for the child ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Caregiver_has_or_will_apply_for_TANF_benefits_for_the_child_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Caregiver_has_or_will_apply_for_TANF__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver has or will apply for TANF benefits for the child ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Caregiver_has_or_will_apply_for_Medical_Assistance_for_the_child_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Caregiver_has_or_will_apply_for_Medical__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver has or will apply for Medical Assistance for the child ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Caregiver_is_committed_to_caring_long_term_for_the_child_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Caregiver_is_committed_to_caring__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver is committed to caring long term for the child ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Caregiver_understands_they_have_responsibility_to_care_for_the_child_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Caregiver_child_as_a_surrogate_parent__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver understands they have responsibility to care for the child as a surrogate parent ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Caregiver_understands_they_will_not_use_corporal_punishment_on_the_child_Field</name>
                    <choiceReferences>Yes_No_Pickvalues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Caregiver_Corporal_Punishment_on_Child__c</elementReference>
                    </defaultValue>
                    <fieldText>Caregiver understands they will not use corporal punishment on the child ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Open_Living_Arrangement</name>
        <label>Close Open Living Arrangement</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Collateral_Record</targetReference>
        </connector>
        <flowName>Living_Arrangement_Close_Open_Living_Arrangement</flowName>
        <inputAssignments>
            <name>Living_Arrangement_Record</name>
            <value>
                <elementReference>Living_Arrangement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>collateralDOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Flow_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Screen__c</objectType>
    </variables>
    <variables>
        <name>Flow_Ins_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_Screen__c</objectType>
    </variables>
    <variables>
        <name>Living_Arrangement_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
</Flow>
