force-app/main/default/flows/Living_Arrangement_Close_Open_Living_Arrangement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_End_Date_to_Living_Arrangement_Record</name>
        <label>Assign End Date to Living Arrangement Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Update_Living_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Living_Arrangement_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Living_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Living_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Living_Arrangement_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Closing_Living_Arrangement</name>
        <label>Check for Closing Living Arrangement</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Placement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Living_Arrangement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Old_Record_Screen</targetReference>
            </connector>
            <label>Need to Close ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Placement_Close</name>
        <label>Check for Placement Close</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Placement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Living_Arrangement_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Living_Arrangement_Record</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Placement_Record_Found</name>
        <label>Check for Placement Record Found</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Placement_Close_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_Placement</targetReference>
            </connector>
            <label>Is Present ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Showing_Placement_Record</name>
        <label>Check for Showing Placement Record</label>
        <locationX>380</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Placement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_for_Placement_Record</targetReference>
            </connector>
            <label>Is Yes ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Living Arrangement - Close Open Living Arrangement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Living Arrangement - Close Open Living Arrangement</label>
    <loops>
        <name>Iterate_Living_Arrangement_Record</name>
        <label>Iterate Living Arrangement Record</label>
        <locationX>94</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Living_Arrangement_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_End_Date_to_Living_Arrangement_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Living_Arrangement_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Living_Arrangement_Record</name>
        <label>Get Living Arrangement Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Closing_Living_Arrangement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child_Removal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Child__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Placement_Living_Arrangement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Living Arrangement</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Placement_Record</name>
        <label>Get Placement Record</label>
        <locationX>380</locationX>
        <locationY>1286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Showing_Placement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exit_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exit_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exit_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Child__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Child_Removal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child_Removal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Placement_Living_Arrangement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Placement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Living_Arrangement_Record</name>
        <label>Update Living Arrangement Record</label>
        <locationX>94</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Placement_Record</targetReference>
        </connector>
        <inputReference>Updated_Living_Records</inputReference>
    </recordUpdates>
    <screens>
        <name>Show_Old_Record_Screen</name>
        <label>Show Old Record Screen</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Placement_Close</targetReference>
        </connector>
        <fields>
            <name>Close_Living_Arrangement_Field</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to close the existing Living Arrangement record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndDate</name>
            <extensionName>c:dateTimeCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isDisabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputLabel</name>
                <value>
                    <stringValue>End Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputType</name>
                <value>
                    <stringValue>date</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Update_Living_Record.End_Date__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Close_Living_Arrangement_Field</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_for_Placement_Record</name>
        <label>Warning for Placement Record</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Placement_Record_Found</targetReference>
        </connector>
        <fields>
            <name>Existing_Placement_Close_Field</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to close the existing Placement record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Living_Arrangement_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Exit_Placement</name>
        <label>Exit Placement</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <flowName>Exit_Placement_Approval</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Placement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Living_Arrangement_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>Update_Living_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>Updated_Living_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
</Flow>
