force-app/main/default/flows/Living_Arrangement_independent_Living.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Living_Arrangement_Fields</name>
        <label>Assign Living Arrangement Fields</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId.Lives_Alone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lives_Alone_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.address2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.county</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.postalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Placement_Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Arrangement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Record_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Record_Id</name>
        <label>Check for Record Id</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Placement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Living_Arrangement_Record</targetReference>
            </connector>
            <label>Is not Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Living Arrangement - independent Living {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Living Arrangement - independent Living</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Living_Arrangement_Record</name>
        <label>Create Living Arrangement Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Close_Existing_Placement_Record</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Placement_Record</name>
        <label>Update Placement Record</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Independent_Living_Screen</name>
        <label>Independent Living Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Living_Arrangement_Fields</targetReference>
        </connector>
        <fields>
            <name>Independent_Living_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Independent_Living_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Client Name :  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Child_Record.FirstName}  {!Child_Record.MiddleName}  {!Child_Record.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Independent_Living_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_PEID</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Client PEID : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Child_Record.Casevault_PID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Independent_Living_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Age</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Display Age :  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Child_Record.Age__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Independent_Living_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Independent_Living_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_Name_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Client Name :  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!recordId.Child__r.FirstName}  {!recordId.Child__r.MiddleName}  {!recordId.Child__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Independent_Living_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_PEID_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Client PEID :  &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Child__r.Casevault_PID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Independent_Living_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_Age_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Display Age :  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Child__r.Age__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Independent_Living_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Independent_Living_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Living_Arrangement_Type</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Living Arrangement Type :  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!recordId.Living_Arrangement_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Independent_Living_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Independent_Living_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lives_Alone_Field</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>recordId.Lives_Alone__c</elementReference>
                    </defaultValue>
                    <fieldText>Lives Alone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments_Field</name>
                    <defaultValue>
                        <stringValue>{!recordId.Comments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lives_Alone_Field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Independent_Living_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Independent_Living_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Start Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recordId.Start_Date__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>recordId.Start_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Independent_Living_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordId.End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Independent_Living_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Independent_Living_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Address of Residence : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Address_Field</name>
                    <extensionName>c:addressValidationLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>address1</name>
                        <value>
                            <elementReference>recordId.Address_Line_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>address2</name>
                        <value>
                            <elementReference>recordId.Address_Line_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>recordId.City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>county</name>
                        <value>
                            <elementReference>recordId.County__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>recordId.State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>recordId.Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalcode</name>
                        <value>
                            <elementReference>recordId.Zip_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Independent_Living_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Existing_Placement_Record</name>
        <label>Close Existing Placement Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <flowName>Living_Arrangement_Close_Open_Living_Arrangement</flowName>
        <inputAssignments>
            <name>Living_Arrangement_Record</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
</Flow>
