force-app/main/default/flows/Living_Arrangement_Placed_at_Home.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Delete_Controller</name>
        <label>Create_Delete_Controller</label>
        <locationX>182</locationX>
        <locationY>3110</locationY>
        <actionName>Create_Delete_Controller</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__current_selected_records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__previous_selected_records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>current_selected_records</name>
            <value>
                <elementReference>Selected_Persons</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Person_Involved__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>Placement_Ins.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>previous_selected_records</name>
            <value>
                <elementReference>Selected_Person_List</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primaryObjectName</name>
            <value>
                <stringValue>Person__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relationshipObjectName</name>
            <value>
                <stringValue>Placement__c</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_child_Ids</name>
        <label>Add child Ids</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Child_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_person_jn.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_person_jn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_caregiver_values</name>
        <label>Assign caregiver values</label>
        <locationX>270</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>Caregiver_Ins.Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caregiver_Ins.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_selected_persons.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caregiver_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Caregiver_Ins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_selected_persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_child_values</name>
        <label>Assign child values</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Child_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Casevault_PID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.Casevault_PID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.Age__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_caregivers_in_placement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_placement_values</name>
        <label>Assign placement values</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Placement_Ins.Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Placed at Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Ins.Placement_Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Arrangement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_create_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_records</name>
        <label>Assign records</label>
        <locationX>138</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Selected_Person_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Get_Persons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Get_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_IDs</name>
        <label>Assign selected IDs</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Selected_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_caregivers.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_caregivers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_create_update</name>
        <label>Check create/update</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Update_Living_Arrangement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Placement_Ins.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Living_Arrangement</targetReference>
            </connector>
            <label>If create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Id</name>
        <label>Check Id</label>
        <locationX>270</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Get_Persons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Get_Persons.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_records</targetReference>
            </connector>
            <label>If exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_placement_record</name>
        <label>Check placement record</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Living_Arrangement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_edit_mode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Placement_Ins.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_child_values</targetReference>
            </connector>
            <label>If edit mode</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Living Arrangement - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Living Arrangement - Placed at Home</label>
    <loops>
        <name>Iterate_caregivers</name>
        <label>Iterate caregivers</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <collectionReference>Get_caregivers_in_placement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_selected_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_through_Get_Persons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_person_jn</name>
        <label>Iterate person jn</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Person_Jn</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_child_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Persons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Get_Persons</name>
        <label>Iterate through Get_Persons</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <collectionReference>Get_Persons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Living_Arrangement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_selected_persons</name>
        <label>Iterate through selected persons</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <collectionReference>Selected_Persons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_caregiver_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Living_Arrangement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Living_Arrangement</name>
        <label>Create Living Arrangement</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Iterate_through_selected_persons</targetReference>
        </connector>
        <inputReference>Placement_Ins</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_caregivers_in_placement</name>
        <label>Get caregivers in placement</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_caregivers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Placement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Placement_Ins.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person_Involved__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Jn</name>
        <label>Get Person Jn</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_person_jn</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Placement_Ins.Service_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LegalGuardian</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Role_Formula__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Caregiver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Persons</name>
        <label>Get Persons</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_placement_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Child_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Living_Arrangement</name>
        <label>Update Living Arrangement</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Iterate_through_selected_persons</targetReference>
        </connector>
        <inputReference>Placement_Ins</inputReference>
    </recordUpdates>
    <screens>
        <name>Living_Arrangement</name>
        <label>Living Arrangement</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_placement_values</targetReference>
        </connector>
        <fields>
            <name>Living_Arrangement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Client Name : &lt;/strong&gt;{!Child_Record.FirstName} {!Child_Record.MiddleName} {!Child_Record.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_PID</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Client PID : &lt;/strong&gt;{!Child_Record.Casevault_PID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Age</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Client Age :&lt;/strong&gt; {!Child_Record.Age__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Living_Arrangement_Type</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Living Arrangement Type : &lt;/strong&gt;Placed at Home&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Living_Arrangement_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Start Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Placement_Ins.Start_Date__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Placement_Ins.Start_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Placement_Ins.End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Caregivers_Legal_Guardian_Info</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Caregivers/Legal Guardian Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Persons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-12b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;First Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-383b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address_Line_1__c&quot;,&quot;guid&quot;:&quot;column-8e5a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address Line 1&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Address Line 1&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address_Line_2__c&quot;,&quot;guid&quot;:&quot;column-7f6b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Address Line 2&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address_City__c&quot;,&quot;guid&quot;:&quot;column-b636&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address_State__c&quot;,&quot;guid&quot;:&quot;column-1135&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address_ZipCode__c&quot;,&quot;guid&quot;:&quot;column-0fb3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Zip code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;ZipCode&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;County_Address__c&quot;,&quot;guid&quot;:&quot;column-fc15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;County of Residence&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-2d5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Selected_Person_List</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Persons</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Jn</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Living_Arrangement</name>
        <label>Close Living Arrangement</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Create_Delete_Controller</targetReference>
        </connector>
        <flowName>Living_Arrangement_Close_Open_Living_Arrangement</flowName>
        <inputAssignments>
            <name>Living_Arrangement_Record</name>
            <value>
                <elementReference>Placement_Ins</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Caregiver_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>Caregiver_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>Child_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Close_Placement_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Open_Placement_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>Placement_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>Selected_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Person</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Selected_Person_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Selected_Persons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
