force-app/main/default/flows/Living_Arrangement_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Child_Record_In_List</name>
        <label>Assign Child Record In List</label>
        <locationX>798</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Child_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Removal_Records.Child__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Removal_Records.Child__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Removal_Records.Child__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Removal_Records.Child__r.Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Casevault_PID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Removal_Records.Child__r.Casevault_PID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Removal_Records.Child__r.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Child_Removal_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Values</name>
        <label>Assign Child Values</label>
        <locationX>798</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Child_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Record.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Casevault_PID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Record.Casevault_PID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Record.Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Child_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Child_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Removal_Record_for_Placement</name>
        <label>Assign Removal Record for Placement</label>
        <locationX>798</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Removal_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Living_Arrangement_Type_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Removal_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Child_Details</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Child Details</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Get_Child_Details</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Child_List</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Details.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Child_Field</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Child_Record</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Child_Removal_for_Child</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Child Removal for Child</label>
        <locationX>710</locationX>
        <locationY>734</locationY>
        <assignNextValueToReference>currentItem_Get_Child_Removal_for_Child</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Child_Removal_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Child_Removal_for_Child.Child__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Child_Field</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Removal_Record</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Rule</name>
        <label>Rule</label>
        <locationX>710</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secured_Juvenile_Justice_or_Medical_or_Rehabilitative_or_Psychiatric_Facilitys</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured/Juvenile Justice Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical or Rehabilitative Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Psychiatric Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Runaway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secured_Juvenile_Justice_or_Medical_or_Rehabilitative_or_Psychiatric_Facility</targetReference>
            </connector>
            <label>Secured/Juvenile Justice or Medical or Rehabilitative or Psychiatric Facility</label>
        </rules>
        <rules>
            <name>Placed_at_Home_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Placed at Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placed_at_Home</targetReference>
            </connector>
            <label>Placed at Home</label>
        </rules>
        <rules>
            <name>Kinship_Home_Fictive_Kin_Home_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kin/Fictive Kin Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kinship_Home_Fictive_Kin_Home</targetReference>
            </connector>
            <label>Kinship Home/Fictive Kin Home</label>
        </rules>
        <rules>
            <name>Whereabouts_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whereabouts Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whereabouts_Unknown_flow</targetReference>
            </connector>
            <label>Whereabouts Unknown</label>
        </rules>
        <rules>
            <name>Independent_Living</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Living</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Independent_Living_SubFlow</targetReference>
            </connector>
            <label>Independent Living</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Child_Picklist</name>
        <collectionReference>Child_List</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Living_Arrangement_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Living_Arrangement_Type__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Child_Name</name>
        <dataType>String</dataType>
        <expression>{!Iterate_Child_Removal_Records.Child__r.FirstName} + &apos; &apos; + {!Iterate_Child_Removal_Records.Child__r.MiddleName} + &apos; &apos; + {!Iterate_Child_Removal_Records.Child__r.LastName}+&apos; (&apos;+{!Iterate_Child_Removal_Records.Child__r.Casevault_PID__c}+&apos; , Age-&apos;+TEXT({!Iterate_Child_Removal_Records.Child__r.Age__c})+&apos;)&apos;</expression>
    </formulas>
    <interviewLabel>Living Arrangement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Living Arrangement</label>
    <loops>
        <name>Iterate_Child_Record</name>
        <label>Iterate Child Record</label>
        <locationX>710</locationX>
        <locationY>1310</locationY>
        <collectionReference>Child_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Rule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Child_Removal_Records</name>
        <label>Iterate Child Removal Records</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Child_Removal_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_Record_In_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Living_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Removal_Record</name>
        <label>Iterate Removal Record</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_Child_Removal_for_Child</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Removal_Record_for_Placement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Removal_Record</name>
        <label>Get Child Removal Record</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Child_Removal_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Removal_End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Child__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child_Removal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Living_Screen</name>
        <label>Living Screen</label>
        <locationX>710</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Child_Removal_for_Child</targetReference>
        </connector>
        <fields>
            <name>Child_Field</name>
            <choiceReferences>Child_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Child</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Living_Arrangement_Type_Field</name>
            <choiceReferences>Living_Arrangement_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Living Arrangement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Removal_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Independent_Living_SubFlow</name>
        <label>Independent Living</label>
        <locationX>1106</locationX>
        <locationY>1766</locationY>
        <flowName>Living_Arrangement_independent_Living</flowName>
        <inputAssignments>
            <name>Child_Record</name>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Living_Arrangement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Kinship_Home_Fictive_Kin_Home</name>
        <label>Kinship Home/Fictive Kin Home</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <flowName>Kinship_Home_Fictive_Kin_Home</flowName>
        <inputAssignments>
            <name>Child_Record</name>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Living_Arrangement_Record</name>
            <value>
                <elementReference>Living_Arrangement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Placed_at_Home</name>
        <label>Placed at Home</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <flowName>Living_Arrangement_Placed_at_Home</flowName>
        <inputAssignments>
            <name>Child_Record</name>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Placement_Ins</name>
            <value>
                <elementReference>Living_Arrangement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Secured_Juvenile_Justice_or_Medical_or_Rehabilitative_or_Psychiatric_Facility</name>
        <label>Secured/Juvenile Justice or Medical or Rehabilitative or Psychiatric Facility</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <flowName>Secured_Juvenile_Justice_or_Medical_or_Rehabilitative_or_Psychiatric_Facility</flowName>
        <inputAssignments>
            <name>Child_Record</name>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Living_Arrangement_Record</name>
            <value>
                <elementReference>Living_Arrangement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Whereabouts_Unknown_flow</name>
        <label>Whereabouts Unknown</label>
        <locationX>842</locationX>
        <locationY>1766</locationY>
        <flowName>Living_Arrangement_Whereabouts_Unknown</flowName>
        <inputAssignments>
            <name>Child_Record</name>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Placement_Ins</name>
            <value>
                <elementReference>Living_Arrangement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Child_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Child_Details</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Child_Removal_for_Child</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Selected_Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Living_Arrangement_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
