force-app/main/default/flows/Living_Arrangement_Whereabouts_Unknown.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_child_values</name>
        <label>Assign child values</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Child_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Casevault_PID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.Casevault_PID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Ins.Child__r.Age__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Living_Arrangement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_placement_values</name>
        <label>Assign placement values</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Placement_Ins.Placement_Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Arrangement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Ins.Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Whereabouts Unknown</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Ins.Why_are_the_child_s_whereabouts_unknown__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_are_the_child_s_whereabouts_unknown</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Id</name>
        <label>Check Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Living_Arrangement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Placement_Ins.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_child_values</targetReference>
            </connector>
            <label>If edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Id</name>
        <label>Check Id</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Create_Placement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Placement_Ins.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_placement</targetReference>
            </connector>
            <label>If edit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Living Arrangement - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Living Arrangement - Whereabouts Unknown</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Placement</name>
        <label>Create Placement</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <inputReference>Placement_Ins</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_placement</name>
        <label>Update placement</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>Placement_Ins</inputReference>
    </recordUpdates>
    <screens>
        <name>Living_Arrangement</name>
        <label>Living Arrangement</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_placement_values</targetReference>
        </connector>
        <fields>
            <name>Living_Arrangement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿Client Name : &lt;/strong&gt;{!Child_Record.FirstName} {!Child_Record.MiddleName} {!Child_Record.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_PID</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Client PID : &lt;/strong&gt;{!Child_Record.Casevault_PID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Age</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Client Age :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Child_Record.Age__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Living_Arrangement_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Living_Arrangement_Type</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Living Arrangement Type :&lt;/strong&gt; &lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Whereabouts Unknown&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Living_Arrangement_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Why_are_the_child_s_whereabouts_unknown</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Placement_Ins.Why_are_the_child_s_whereabouts_unknown__c</elementReference>
                    </defaultValue>
                    <fieldText>Why are the child’s whereabouts unknown?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Living_Arrangement_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Start Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Placement_Ins.Start_Date__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Placement_Ins.Start_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Placement_Ins.End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Placement_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
</Flow>
