force-app/main/default/flows/Meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Name</name>
        <label>Assign Parent Name</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>meetingRecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meeting_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Name_0</name>
        <label>Assign Parent Name</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>meetingRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meeting_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Persons</name>
        <label>Assign Persons</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>person_involved_record.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Persons_Record.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>person_involved_record.Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>meetingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>person_involved_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>person_involved_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Persons_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Value</name>
        <label>Assign Record Value</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>meetingRecord.Type_of_the_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Meeting_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meetingRecord.Follow_up_meeting_Start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_up_meeting_Start_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Object_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Object_Name</name>
        <label>Check for Object Name</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Servicecase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Case__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Name</targetReference>
            </connector>
            <label>Is Servicecase</label>
        </rules>
        <rules>
            <name>Is_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Name_0</targetReference>
            </connector>
            <label>Is Investigation</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>follow_up_meeting_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Follow_up_Meeting__c</picklistField>
        <picklistObject>Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_of_meeting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_the_Meeting__c</picklistField>
        <picklistObject>Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Meeting</label>
    <loops>
        <name>Iterate_Persons_Record</name>
        <label>Iterate Persons Record</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Persons_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Persons</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Person_Involved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meeting_Record</name>
        <label>Create Meeting Record</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Get_Persons_Record</targetReference>
        </connector>
        <inputReference>meetingRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Involved</name>
        <label>Create Person Involved</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <inputReference>person_involved_list</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Persons_Record</name>
        <label>Get Persons Record</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Persons_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selected_persons</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Meeting_Screen</name>
        <label>Meeting Screen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Record_Value</targetReference>
        </connector>
        <fields>
            <name>person_label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Persons Involved&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Persons_Involved</name>
            <extensionName>agrid:listView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>configurationName</name>
                <value>
                    <stringValue>Person_Involved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentFieldName</name>
                <value>
                    <elementReference>parentApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_persons</assignToReference>
                <name>outputRecordsList</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Meeting_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meeting_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Date_of_Meeting__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Name_of_the_person_completing_the_report__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Type_of_Meeting_field</name>
                    <choiceReferences>type_of_meeting</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Meeting</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Follow_up_Meeting__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Meeting_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Name_of_the_person__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Type_of_the_Meeting__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Meeting_Decision__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Follow_up_meeting_Start_date</name>
                    <dataType>Date</dataType>
                    <fieldText>Follow up meeting Start date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>meetingRecord.Follow_up_Meeting__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Meeting_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meeting_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Meeting_Notes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>meetingRecord.Additional_Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Meeting_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MeetingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>meetingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Meeting__c</objectType>
    </variables>
    <variables>
        <name>parentApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>person_involved_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>person_involved_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_persons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
