force-app/main/default/flows/New_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_intake</name>
        <label>Navigate to intake</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <actionName>c:NavigateFromFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_First_Name</name>
        <label>Assign First Name</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Intake_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Name_Edit</name>
        <label>Assign First Name</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_First_Name_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Narrative_details_to_Record</name>
        <label>Assign Narrative details to Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Role_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Title_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.intake_Zipcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Unknown_Reporter_Edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intake_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record</name>
        <label>Assign Values to Record</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purpose_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Communication_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Jurisdiction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jurisdiction_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.intake_Zipcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.In_Home_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Home_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Voluntary_Placement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voluntary_Placement_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Information_and_Referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Information_and_Referral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Service_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Program_RFS_Dependent.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Request_for_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Program_RFS_Dependent.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Unknown_Reporter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record_for_unknown_Reporter</name>
        <label>Assign Values to Record for unknown Reporter</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Gender__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Intake_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record_for_unknown_Reporter_Edit</name>
        <label>Assign Values to Record for unknown Reporter</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>intake_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Role__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Gender__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intake_Record.Title__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_intake</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_intake_record</name>
        <label>Check for intake record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>New_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_intake_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Narrative_Details</targetReference>
            </connector>
            <label>If intake exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Unknown_Reporter</name>
        <label>Check for Unknown Reporter</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_First_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Unknown_Reporter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Record_for_unknown_Reporter</targetReference>
            </connector>
            <label>Is Unknown Reporter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Unknown_Reporter_Edit</name>
        <label>Check for Unknown Reporter</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_First_Name_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Unknown_Reporter_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Record_for_unknown_Reporter_Edit</targetReference>
            </connector>
            <label>Is Unknown Reporter</label>
        </rules>
    </decisions>
    <description>New Intake &amp; Narrative Details</description>
    <dynamicChoiceSets>
        <name>Adult_Services</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Program__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>communication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Communication__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>hours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hours__c</picklistField>
        <picklistObject>Picklist_Config__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>In_Home_Service_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>In_Home_Service__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Information_Referral_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Information_and_Referral__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>jurisdiction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jurisdiction__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>minutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Minutes__c</picklistField>
        <picklistObject>Picklist_Config__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>purpose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Request_for_service_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_for_Services__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Timezone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Am_Pm__c</picklistField>
        <picklistObject>Picklist_Config__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>title</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Title__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Voluntary_Placement_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Voluntary_Placement_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ZipCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!Zip_Code_In_Number})</expression>
    </formulas>
    <formulas>
        <name>Zipcode_Number_Formula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!intake_Record.intake_Zipcode__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>New Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Intake_Record</name>
        <label>Create Intake Record</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>intake_Record</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_intake</name>
        <label>Update intake</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Fault_Screen_Edit</targetReference>
        </faultConnector>
        <inputReference>intake_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_Edit</name>
        <label>Fault Screen</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Narrative_Details</name>
        <label>Narrative Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Narrative_details_to_Record</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Reporter_Details_0</name>
            <fieldText>Narrative Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Reporter_Details_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Unknown_Reporter__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Copy_1_of_Title_field</name>
                    <choiceReferences>title</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>intake_Record.Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Middle_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Gender__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.SuppliedEmail</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Address_Phone_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Reporter_Details_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Anonymous_reporter__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.First_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_First_Name_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>intake_Record.First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Last_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>intake_Record.Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Role_field</name>
                    <choiceReferences>role</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>intake_Record.Role__c</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Role__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Acknowledgement_Letter__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Ext__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Space_Between_Section_Address</name>
                    <fieldText>&lt;p&gt;   &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_address_Component</name>
                    <extensionName>c:addressValidationLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>address1</name>
                        <value>
                            <elementReference>intake_Record.Address_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>address2</name>
                        <value>
                            <elementReference>intake_Record.Address_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>intake_Record.City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>intake_Record.Address_State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>county</name>
                        <value>
                            <elementReference>intake_Record.County__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>intake_Record.Address_Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalcode</name>
                        <value>
                            <elementReference>Zipcode_Number_Formula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_1__c</assignToReference>
                        <name>address1</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_2__c</assignToReference>
                        <name>address2</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.City__c</assignToReference>
                        <name>city</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.County__c</assignToReference>
                        <name>county</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_State__c</assignToReference>
                        <name>state</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_Country__c</assignToReference>
                        <name>country</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Zip_Code_In_Number</assignToReference>
                        <name>postalcode</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Narrative_0</name>
            <fieldText>Narrative</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Narrative_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Narrative_Cmp2</name>
                    <extensionName>c:richTextLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Narrative</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>intake_Record.Narrative__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>intake_Record.Narrative__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Intake</name>
        <label>New Intake</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Record</targetReference>
        </connector>
        <fields>
            <name>New_Intake_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Intake_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Jurisdiction_field</name>
                    <choiceReferences>jurisdiction</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Jurisdiction__c</elementReference>
                    </defaultValue>
                    <fieldText>Jurisdiction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ReceivedDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Received Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>datetime</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>intake_Record.Received_Date__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>intake_Record.Received_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Intake_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_field</name>
                    <choiceReferences>communication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Communication</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Intake_Purpose</name>
            <fieldText>Intake Purpose</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intake_Purpose_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purpose_field</name>
                    <choiceReferences>purpose</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Purpose</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Service_Program_RFS_Dependent</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Service_Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Request_for_Services__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Service Program</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Request for services</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>intake_Record.Service_Program__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>intake_Record.Request_for_Services__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Purpose_field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Request for services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>In_Home_Services</name>
                    <choiceReferences>In_Home_Service_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>In Home Services</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Service_Program_RFS_Dependent.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Child Welfare Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service_Program_RFS_Dependent.middleValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>In-Home Services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Voluntary_Placement_Type</name>
                    <choiceReferences>Voluntary_Placement_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Voluntary Placement Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>In_Home_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Voluntary Placement</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Information_and_Referral</name>
                    <choiceReferences>Information_Referral_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Information and Referral</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Purpose_field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Information and Referral</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intake_Purpose_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Space</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reporter_Details_0</name>
            <fieldText>Reporter Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reporter_Details_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Unknown_Reporter__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Title_field</name>
                    <choiceReferences>title</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Middle_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Gender__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.SuppliedEmail</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Address_Phone_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reporter_Details_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Anonymous_reporter__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.First_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>First_Name_Field</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Last_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role_field</name>
                    <choiceReferences>role</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Role__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>intake_Record.Unknown_Reporter__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Acknowledgement_Letter__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>intake_Record.Ext__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Space_Between_Section_Address</name>
                    <fieldText>&lt;p&gt;   &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>address_Component</name>
                    <extensionName>c:addressValidationLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>address1</name>
                        <value>
                            <elementReference>intake_Record.Address_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>address2</name>
                        <value>
                            <elementReference>intake_Record.Address_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>intake_Record.City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>intake_Record.Address_State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>county</name>
                        <value>
                            <elementReference>intake_Record.County__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>intake_Record.Address_Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_1__c</assignToReference>
                        <name>address1</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_2__c</assignToReference>
                        <name>address2</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.City__c</assignToReference>
                        <name>city</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.County__c</assignToReference>
                        <name>county</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_State__c</assignToReference>
                        <name>state</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>intake_Record.Address_Country__c</assignToReference>
                        <name>country</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Zip_Code_In_Number</assignToReference>
                        <name>postalcode</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Narrative_0</name>
            <fieldText>Narrative</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Narrative_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Narrative_Cmp</name>
                    <extensionName>c:richTextLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Narrative</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>intake_Record.Narrative__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>intake_Record.Narrative__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_intake_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intake_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Zip_Code_In_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
