force-app/main/default/flows/New_Placement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_child_in_child_removal</name>
        <label>Assign child in child removal</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Child_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_child_removals.Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_child_removals.Child__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_child_removals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_child_removal</name>
        <label>Assign child removal</label>
        <locationX>270</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>Placement_Record.Child_Removal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_child_removal_filter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_child_removal_filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_placement_values</name>
        <label>Assign placement values</label>
        <locationX>182</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>Placement_Record.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_Ins.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Response_Accepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_Accepted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Placement_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Structure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Reason_for_Decline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Decline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.COMAR_Rate_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMAR_Rate_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Placement_Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Placement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Placement_Record.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Placement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_child_in_list</name>
        <label>Remove child in list</label>
        <locationX>270</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Child_List</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Child_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_placements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_child_in_list</name>
        <label>Reset child in list</label>
        <locationX>402</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>Child_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_placements.Child__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Name_Placement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_child_exist</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Child_Removal_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Child Removal Filter</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <assignNextValueToReference>currentItem_Child_Removal_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Child_Removal_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Child_Removal_Filter.Child__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Child</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_child_removal_filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_child_exist</name>
        <label>Check child exist</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_placements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_List</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Child_Record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_child_in_list</targetReference>
            </connector>
            <label>If exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Duplicate</name>
        <label>Check for Duplicate</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_child_removals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_exists</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>child_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_child_removals.Child__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_child_in_child_removal</targetReference>
            </connector>
            <label>If not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_provider</name>
        <label>Check provider</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Child_Removal_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_provider_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider_Ins</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Warning</targetReference>
            </connector>
            <label>If provider not selected</label>
        </rules>
    </decisions>
    <description>Placement Creation Screen Flow</description>
    <dynamicChoiceSets>
        <name>Child_Choices</name>
        <collectionReference>Child_List</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>COMAR_Rate_Category_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>COMAR_Rate_Category__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Placement_Structure_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Placement_Structure__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason_for_Decline_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Decline__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Response_Accepted_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Response_Accepted__c</picklistField>
        <picklistObject>Placement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Child_Name</name>
        <dataType>String</dataType>
        <expression>{!Iterate_through_child_removals.Child__r.FirstName} + &apos; &apos; + {!Iterate_through_child_removals.Child__r.MiddleName} + &apos; &apos; + {!Iterate_through_child_removals.Child__r.LastName}+&apos;(&apos;+{!Iterate_through_child_removals.Child__r.Casevault_PID__c}+&apos;, Age-&apos;+TEXT({!Iterate_through_child_removals.Child__r.Age__c})+&apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>Child_Name_Placement</name>
        <dataType>String</dataType>
        <expression>{!Iterate_through_placements.Child__r.FirstName} + &apos; &apos; + {!Iterate_through_placements.Child__r.MiddleName} + &apos; &apos; + {!Iterate_through_placements.Child__r.LastName}+&apos;(&apos;+{!Iterate_through_placements.Child__r.Casevault_PID__c}+&apos;, Age-&apos;+TEXT({!Iterate_through_placements.Child__r.Age__c})+&apos;)&apos;</expression>
    </formulas>
    <interviewLabel>New Placement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Placement</label>
    <loops>
        <name>Iterate_through_child_removal_filter</name>
        <label>Iterate through child removal filter</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <collectionReference>Child_Removal_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_child_removal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_placement_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_child_removals</name>
        <label>Iterate through child removals</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Child_Removal_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Placements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_placements</name>
        <label>Iterate through placements</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_Placements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_child_in_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Placement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Placement</name>
        <label>Create Placement</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <inputReference>Placement_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Removal_Records</name>
        <label>Get Child Removal Records</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_child_removals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Removal_End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Child__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child_Removal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Placements</name>
        <label>Get Placements</label>
        <locationX>182</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_placements</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3  OR 4) AND 5</filterLogic>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Child__c</field>
            <operator>In</operator>
            <value>
                <elementReference>child_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Placement_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exit_Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Placement_Living_Arrangement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Placement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Placement</name>
        <label>New Placement</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_provider</targetReference>
        </connector>
        <fields>
            <name>New_Placement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Placement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child</name>
                    <choiceReferences>Child_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Child</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Placement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BeginDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Begin Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>datetime</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Placement_Record.Begin_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provider_Search</name>
            <fieldText>Provider Search</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provider_Search_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provider_Search_Cmp</name>
                    <extensionName>c:PlacementRecordPageCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Provider_Ins</assignToReference>
                        <name>selectedProviderRec</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Response</name>
            <fieldText>Response</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Response_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Placement_Record.Referral_Send_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Reason_for_Decline</name>
                    <choiceReferences>Reason_for_Decline_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Decline</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Response_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Response_Accepted</name>
                    <choiceReferences>Response_Accepted_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Response Accepted</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Placement_Structure</name>
                    <choiceReferences>Placement_Structure_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Placement Structure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>COMAR_Rate_Category</name>
                    <choiceReferences>COMAR_Rate_Category_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>COMAR Rate Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provider_Warning</name>
        <label>Provider Warning</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Child_Removal_Filter</targetReference>
        </connector>
        <fields>
            <name>Provider_warning_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please add the provider&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Removal_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>child_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Child_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Child_Removal_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child_Removal__c</objectType>
    </variables>
    <variables>
        <name>Placement_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>Provider_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
