force-app/main/default/flows/Notes_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_person_involved_records</name>
        <label>Assign person involved records</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Person_Involved_Record.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notesId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Involved_Record.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_persons.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Involved_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Person_Involved_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>person_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_persons.Person__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_persons</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Ids</name>
        <label>Check Ids</label>
        <locationX>666</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_persons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_exists</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>person_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_persons.Person__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_person_involved_records</targetReference>
            </connector>
            <label>If not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_object</name>
        <label>Check object</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Intake_Notes</targetReference>
            </connector>
            <label>Intake</label>
        </rules>
        <rules>
            <name>Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Investigation_Notes</targetReference>
            </connector>
            <label>Investigation</label>
        </rules>
        <rules>
            <name>Service_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Case__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Case_Notes</targetReference>
            </connector>
            <label>Service case</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Contact_Attempted_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_was_Attempted_Completed__c</picklistField>
        <picklistObject>Notes__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact_Initiated_Received_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_was_initiated_received__c</picklistField>
        <picklistObject>Notes__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact_Location_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Location__c</picklistField>
        <picklistObject>Notes__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact_Purpose_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Purpose__c</picklistField>
        <picklistObject>Notes__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact_Type_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Type__c</picklistField>
        <picklistObject>Notes__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>End_Time_Formula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;2005-11-15 &quot;+{!End_Time_Txt})</expression>
    </formulas>
    <formulas>
        <name>Start_Time_Formula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;2005-11-15 &quot;+{!Start_Time_Txt})</expression>
    </formulas>
    <formulas>
        <name>Travel_Duration_Formula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;2005-11-15 &quot;+{!Travel_Duration_Txt})</expression>
    </formulas>
    <interviewLabel>Notes Screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notes screen flow</label>
    <loops>
        <name>Iterate_through_persons</name>
        <label>Iterate through persons</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_Person_Jn_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Person_Involved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Intake_Notes</name>
        <label>Create Intake Notes</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>notesId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Person_Jn_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>Contact_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Location__c</field>
            <value>
                <elementReference>Contact_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Purpose__c</field>
            <value>
                <elementReference>Contact_Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_was_Attempted_Completed__c</field>
            <value>
                <elementReference>Contact_was_attempted_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_was_initiated_received__c</field>
            <value>
                <elementReference>Contact_was_initiated_received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>End_Time_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Start_Time_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Duration__c</field>
            <value>
                <elementReference>Travel_Duration_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Notes__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Investigation_Notes</name>
        <label>Create Investigation Notes</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>notesId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Person_Jn_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>Contact_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Location__c</field>
            <value>
                <elementReference>Contact_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Purpose__c</field>
            <value>
                <elementReference>Contact_Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_was_Attempted_Completed__c</field>
            <value>
                <elementReference>Contact_was_attempted_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_was_initiated_received__c</field>
            <value>
                <elementReference>Contact_was_initiated_received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>End_Time_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investigation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Start_Time_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Duration__c</field>
            <value>
                <elementReference>Travel_Duration_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Notes__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Person_Involved</name>
        <label>Create Person Involved</label>
        <locationX>446</locationX>
        <locationY>1286</locationY>
        <inputReference>Person_Involved_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Case_Notes</name>
        <label>Create Service Case Notes</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>notesId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Person_Jn_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Date__c</field>
            <value>
                <elementReference>Contact_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Location__c</field>
            <value>
                <elementReference>Contact_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Purpose__c</field>
            <value>
                <elementReference>Contact_Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_was_Attempted_Completed__c</field>
            <value>
                <elementReference>Contact_was_attempted_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_was_initiated_received__c</field>
            <value>
                <elementReference>Contact_was_initiated_received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>End_Time_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Start_Time_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Duration__c</field>
            <value>
                <elementReference>Travel_Duration_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Notes__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Jn_Records</name>
        <label>Get Person Jn Records</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_persons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Selected_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Person__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Screen</name>
        <label>New Screen</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_object</targetReference>
        </connector>
        <fields>
            <name>Person_Involved</name>
            <extensionName>agrid:listView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>configurationName</name>
                <value>
                    <stringValue>Person_Involved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentFieldName</name>
                <value>
                    <elementReference>Object_Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_IDs</assignToReference>
                <name>outputRecordsList</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Purpose</name>
            <choiceReferences>Contact_Purpose_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Purpose</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Type</name>
                    <choiceReferences>Contact_Type_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Contact Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Future Date is not allowed&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Contact_Date} &lt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>End_Time</name>
                    <extensionName>c:timeInputLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>End Time</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>End_Time_Txt</assignToReference>
                        <name>outputValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Location</name>
                    <choiceReferences>Contact_Location_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Start_Time</name>
                    <extensionName>c:timeInputLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Start Time</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Start_Time_Txt</assignToReference>
                        <name>outputValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Travel_Duration</name>
                    <extensionName>c:timeInputLWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Travel Duration</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Travel_Duration_Txt</assignToReference>
                        <name>outputValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_was_initiated_received</name>
                    <choiceReferences>Contact_Initiated_Received_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact was initiated/received</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_was_attempted_completed</name>
                    <choiceReferences>Contact_Attempted_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact was attempted/completed</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>End_Time_Txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notes_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notes__c</objectType>
    </variables>
    <variables>
        <name>notesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>person_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Person_Involved_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>Person_Involved_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Jn_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>Start_Time_Txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Travel_Duration_Txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
