force-app/main/default/flows/Secured_Juvenile_Justice_or_Medical_or_Rehabilitative_or_Psychiatric_Facility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Collateral_Value</name>
        <label>Assign Collateral Value</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Collateral_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_RecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Living_Arrangement_Record</name>
        <label>Assign Living Arrangement Record</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.address2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.county</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.postalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Placement_Living_Arrangement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Arrangement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Field.country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Collateral_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Living_Arrangement_Record_0</name>
        <label>Assign Living Arrangement Record</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Living_Arrangement_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value_for_Child_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_for_Child_Record</name>
        <label>Assign Value for Child Record</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Child_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child__r.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Casevault_PID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child__r.Casevault_PID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Record.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Child__r.Age__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Living_Arrangement_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Child_Record</name>
        <label>Check for Child Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Living_Arrangement_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Living_Arrangement_Screen</targetReference>
            </connector>
            <label>Is Present ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Collateral</name>
        <label>Check for Collateral</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Create_Collateral_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Collateral_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Collateral_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Collateral_Value</targetReference>
            </connector>
            <label>If Collateral Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Input_Record</name>
        <label>Check for Input Record</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Assign_Living_Arrangement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Living_Arrangement</targetReference>
            </connector>
            <label>Is Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_RecordId</name>
        <label>Check for RecordId</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Update_Living_Arrangement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Living_Arrangement_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Living_Arrangement_Record</targetReference>
            </connector>
            <label>If Present ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Secured/Juvenile Justice or {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Secured/Juvenile Justice or Medical or Rehabilitative or Psychiatric Facility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Collateral_Record</name>
        <label>Create Collateral Record</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>Living_Arrangement_Record.Collateral__c</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_RecordId</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Living Arrangement Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Case__c</field>
            <value>
                <elementReference>Living_Arrangement_Record.Service_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>Contact_Number_Field.value</elementReference>
            </value>
        </inputAssignments>
        <object>Collateral__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Living_Arrangement_Record</name>
        <label>Create Living Arrangement Record</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <inputReference>Living_Arrangement_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Collateral_Record</name>
        <label>Get Collateral Record</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Collateral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name_Field</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_Field</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Living Arrangement Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Living_Arrangement_Record.Service_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Collateral__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Living_Arrangement_Record</name>
        <label>Update Living Arrangement Record</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <inputReference>Living_Arrangement_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Living_Arrangement_Screen</name>
        <label>Living_Arrangement_Screen</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Input_Record</targetReference>
        </connector>
        <fields>
            <name>Living_Arrangement_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Client_Name_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Client Name : &lt;/strong&gt;{!Child_Record.FirstName}   {!Child_Record.MiddleName}  {!Child_Record.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_PEID_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Casevault PEID : &lt;/strong&gt;{!Child_Record.Casevault_PID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Age_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Age :&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;{!Child_Record.Age__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Living_Arrangement_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Living_Arrangement_Type_Field</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Living Arrangement Type &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;:  &lt;/span&gt;{!Living_Arrangement_Record.Living_Arrangement_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Living_Arrangement_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate</name>
                    <extensionName>c:dateTimeCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputLabel</name>
                        <value>
                            <stringValue>Start Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputType</name>
                        <value>
                            <stringValue>date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Start_Date__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Living_Arrangement_Record.Start_Date__c</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Living_Arrangement_Record.End_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Living_Arrangement_Record.Name_of_Facility__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Runaway</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Living_Arrangement_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Living_Arrangement_Record.Contact_Location__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Runaway</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>address_label</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Address:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Address_Field</name>
                    <extensionName>c:addressValidationLwc</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>address1</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Address_Line_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>address2</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Address_Line_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>county</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.County__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>state</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalcode</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Zip_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Runaway</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Name_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact Name :&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Living_Arrangement_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Living_Arrangement_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Collateral__r.First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Number_Field</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Living_Arrangement_Record.Collateral__r.Work_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>(xxx) xxx-xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Display_Role</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Role :  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Living Arrangement Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Living_Arrangement_Record.Living_Arrangement_Type__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Runaway</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Living_Arrangement_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Living_Arrangement_Record.Collateral__r.Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Child_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Living_Arrangement</name>
        <label>Close Living Arrangement</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Assign_Living_Arrangement_Record</targetReference>
        </connector>
        <flowName>Living_Arrangement_Close_Open_Living_Arrangement</flowName>
        <inputAssignments>
            <name>Living_Arrangement_Record</name>
            <value>
                <elementReference>Living_Arrangement_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Child_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Living_Arrangement_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Placement__c</objectType>
    </variables>
</Flow>
