force-app/main/default/flows/Service_Case_Danger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_intake_as_danger</name>
        <label>Assign intake as danger</label>
        <locationX>1194</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>intakeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_service_cases.Intake__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intakeRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intakeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>intakeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_intake_as_danger_1</name>
        <label>Assign intake as danger</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>intakeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personJnRecord.Intake__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intakeRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_intakes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_intake_as_not_in_danger</name>
        <label>Assign intake as not in danger</label>
        <locationX>1458</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>intakeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_service_cases.Intake__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intakeRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intakeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>intakeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_intake_as_not_in_danger_1</name>
        <label>Assign intake as not in danger</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>intakeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personJnRecord.Intake__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intakeRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_intakes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_investigation_as_danger</name>
        <label>Assign investigation as danger</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>investigationRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_service_cases.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>investigationRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>investigationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>investigationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_investigation_as_danger_1</name>
        <label>Assign investigation as danger</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>investigationRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personJnRecord.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>investigationRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_investigations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_investigation_as_not_in_danger</name>
        <label>Assign investigation as not in danger</label>
        <locationX>930</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>investigationRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_service_cases.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>investigationRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>investigationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>investigationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_investigation_as_not_in_danger_1</name>
        <label>Assign investigation as not in danger</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>investigationRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personJnRecord.Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>investigationRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_investigations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_case_as_danger</name>
        <label>Assign service case as danger</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_service_cases.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serviceCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_case_as_danger_1</name>
        <label>Assign service case as danger</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personJnRecord.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_service_cases_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_case_as_not_in_danger</name>
        <label>Assign service case as not in danger</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_service_cases.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serviceCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_case_as_not_in_danger_1</name>
        <label>Assign service case as not in danger</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personJnRecord.Service_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceCaseRecord.Is_this_danger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_service_cases_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_danger_fields_in_person</name>
        <label>Check danger fields in person</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_service_case_is_in_danger</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>personJnRecord.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_self__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_worker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Address.Known_danger_at_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Service_Case__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_service_case_as_danger_1</targetReference>
            </connector>
            <label>If service case is in danger</label>
        </rules>
        <rules>
            <name>If_service_case_is_not_in_danger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personJnRecord.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_self__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_worker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Address.Known_danger_at_address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Service_Case__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_service_case_as_not_in_danger_1</targetReference>
            </connector>
            <label>If service case is not in danger</label>
        </rules>
        <rules>
            <name>If_investigation_is_in_danger</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>personJnRecord.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_self__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_worker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Address.Known_danger_at_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Investigation__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_investigation_as_danger_1</targetReference>
            </connector>
            <label>If investigation is in danger</label>
        </rules>
        <rules>
            <name>If_investigation_is_not_in_danger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personJnRecord.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_self__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_worker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Address.Known_danger_at_address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Investigation__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_investigation_as_not_in_danger_1</targetReference>
            </connector>
            <label>If investigation is not in danger</label>
        </rules>
        <rules>
            <name>If_intake_is_in_danger</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>personJnRecord.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_self__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_worker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Address.Known_danger_at_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Intake__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_intake_as_danger_1</targetReference>
            </connector>
            <label>If intake is in danger</label>
        </rules>
        <rules>
            <name>If_intake_is_not_in_danger_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personJnRecord.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_self__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Danger_to_worker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Address.Known_danger_at_address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personJnRecord.Intake__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_intake_as_not_in_danger_1</targetReference>
            </connector>
            <label>If intake is not in danger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_records</name>
        <label>Check records</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addressRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Jn</targetReference>
            </connector>
            <label>If address</label>
        </rules>
        <rules>
            <name>If_person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personJnRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Address</targetReference>
            </connector>
            <label>If person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_service_case_is_already_in_danger</name>
        <label>Check service case is already in danger</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SC_danger</name>
            <conditionLogic>(1 OR 2 OR 3 OR (4 AND 6)) AND 5 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_self__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_worker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Known_danger_at_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Service_Case__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Current_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_service_case_as_danger</targetReference>
            </connector>
            <label>If SC danger</label>
        </rules>
        <rules>
            <name>If_SC_is_not_in_danger</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 6) AND 5  AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_self__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_worker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Known_danger_at_address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Service_Case__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Current_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Service_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_service_case_as_not_in_danger</targetReference>
            </connector>
            <label>If SC is not in danger</label>
        </rules>
        <rules>
            <name>If_INV_danger</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_self__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_worker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Known_danger_at_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Investigation__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_investigation_as_danger</targetReference>
            </connector>
            <label>If INV danger</label>
        </rules>
        <rules>
            <name>If_INV_is_not_in_danger</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 6) AND 5  AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_self__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_worker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Known_danger_at_address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Investigation__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Current_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_investigation_as_not_in_danger</targetReference>
            </connector>
            <label>If INV is not in danger</label>
        </rules>
        <rules>
            <name>If_Intake_danger</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_self__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_worker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Known_danger_at_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Intake__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_intake_as_danger</targetReference>
            </connector>
            <label>If Intake danger</label>
        </rules>
        <rules>
            <name>If_Intake_is_not_in_danger</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 6) AND 5  AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Current_or_Previous_Mental_Health_issue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_self__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Danger_to_worker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Known_danger_at_address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Intake__r.Is_this_danger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressRecord.Current_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_service_cases.Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_intake_as_not_in_danger</targetReference>
            </connector>
            <label>If Intake is not in danger</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service Case Danger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Case Danger</label>
    <loops>
        <name>Iterate_through_service_cases</name>
        <label>Iterate through service cases</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Person_Jn</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_service_case_is_already_in_danger</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_service_cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Address</name>
        <label>Get Address</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_danger_fields_in_person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personJnRecord.Person__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Address__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Jn</name>
        <label>Get Person Jn</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_service_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>addressRecord.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_intakes</name>
        <label>Update intakes</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <inputReference>intakeRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_intakes_1</name>
        <label>Update intakes</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <inputReference>intakeList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_investigations</name>
        <label>Update investigations</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <inputReference>investigationRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_investigations_1</name>
        <label>Update investigations</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Update_intakes_1</targetReference>
        </connector>
        <inputReference>investigationList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_service_cases</name>
        <label>Update service cases</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Update_investigations_1</targetReference>
        </connector>
        <inputReference>serviceCaseList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_service_cases_1</name>
        <label>Update service cases</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <inputReference>serviceCaseRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Address__c</objectType>
    </variables>
    <variables>
        <name>intakeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>intakeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>investigationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>investigationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>personJnRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Person__c</objectType>
    </variables>
    <variables>
        <name>serviceCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
    <variables>
        <name>serviceCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Case__c</objectType>
    </variables>
</Flow>
