force-app/main/default/flows/Vendor_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vendor_Approval_Process</name>
        <label>Vendor Approval Process</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_supervisor</name>
        <label>Assign supervisor</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recordId.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Supervisor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Supervisor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Approval_Status</name>
        <label>Check Approval Status</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Screen</targetReference>
            </connector>
            <label>If submitted</label>
        </rules>
        <rules>
            <name>If_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Screen</targetReference>
            </connector>
            <label>If approved</label>
        </rules>
        <rules>
            <name>If_not_in_approval_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_list</targetReference>
            </connector>
            <label>If not in approval process</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>supervisorChoices</name>
        <collectionReference>supervisors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>defaultSupervisorId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.ManagerId}),&apos;&apos;,CASESAFEID({!$User.ManagerId}))</expression>
    </formulas>
    <interviewLabel>Vendor Approval Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Supervisor</name>
        <label>Update Supervisor</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Vendor_Approval_Process</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Approval_Screen</name>
        <label>Approval Screen</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approved_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!recordId.Name} is already approved&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault_Screen</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submitted_Screen</name>
        <label>Submitted Screen</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Submitted_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!recordId.Name} is already submitted to supervisor for approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!recordId.Name} is submitted to supervisor for approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vendor_Approval</name>
        <label>Vendor Approval</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_supervisor</targetReference>
        </connector>
        <fields>
            <name>Select_Supervisor</name>
            <choiceReferences>supervisorChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultSupervisorId</elementReference>
            </defaultValue>
            <fieldText>Select Supervisor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Approval_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approval_list</name>
        <label>Approval list</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Vendor_Approval</targetReference>
        </connector>
        <flowName>Approver_list_flow</flowName>
        <inputAssignments>
            <name>profileName</name>
            <value>
                <stringValue>Casevault Supervisor</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>supervisors</assignToReference>
            <name>usersList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor__c</objectType>
    </variables>
    <variables>
        <name>supervisors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
