force-app/main/default/flows/Visitation_Logs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Client_Name</name>
        <label>Assign Client Name</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>visitationRecord.Client_jn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Object_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Id</name>
        <label>Assign Parent Id</label>
        <locationX>534</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>person_involved_record.Visitation_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>visitationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>person_involved_record.Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Select_Persons.Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Involved_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>person_involved_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Select_Persons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Id_0</name>
        <label>Assign Parent Id</label>
        <locationX>534</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>collateral_rec.Collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Collateral_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collateral_rec.Visitation_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>visitationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Person_Involved_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>collateral_rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Collateral_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Object</name>
        <label>Assign Parent Object</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>visitationRecord.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Persons_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Object_0</name>
        <label>Assign Parent Object</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>visitationRecord.Service_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Persons_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Object_1</name>
        <label>Assign Parent Object</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>visitationRecord.Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Persons_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Object_Name</name>
        <label>Check for Object Name</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Persons_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentFieldName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Object</targetReference>
            </connector>
            <label>Is Intake</label>
        </rules>
        <rules>
            <name>Is_Servicecase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentFieldName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Case__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Object_0</targetReference>
            </connector>
            <label>Is Servicecase</label>
        </rules>
        <rules>
            <name>Is_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentFieldName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigation__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Object_1</targetReference>
            </connector>
            <label>Is Investigation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Visitation Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visitation Log</label>
    <loops>
        <name>Iterate_Collateral_Records</name>
        <label>Iterate Collateral Records</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <collectionReference>Get_Collateral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Id_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collateral_Visit_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Select_Persons</name>
        <label>Iterate Select Persons</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Persons_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Collateral_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Collateral_Visit_Participants</name>
        <label>Collateral Visit Participants</label>
        <locationX>446</locationX>
        <locationY>1886</locationY>
        <inputReference>Person_Involved_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Visitation_Log</name>
        <label>Create Visitation Log</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Iterate_Select_Persons</targetReference>
        </connector>
        <inputReference>visitationRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Collateral_Records</name>
        <label>Get Collateral Records</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Visitation_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selected_collateral</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Collateral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Persons_Record</name>
        <label>Get Persons Record</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Collateral_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Selected_Records</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Person_Select_Screen</name>
        <label>Person Select Screen</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>vistitation_log_screen</targetReference>
        </connector>
        <fields>
            <name>person_label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Persons Involved&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Involved_Persons</name>
            <extensionName>agrid:listView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>configurationName</name>
                <value>
                    <stringValue>Person_Involved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentFieldName</name>
                <value>
                    <elementReference>parentFieldName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Records</assignToReference>
                <name>outputRecordsList</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Person_Select_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Person_Select_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Collateral_label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Collateral Visit Participants&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Collateral_Visit_Participants_List</name>
            <extensionName>agrid:listView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>configurationName</name>
                <value>
                    <stringValue>Collateral_Participants</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentFieldName</name>
                <value>
                    <elementReference>parentFieldName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_collateral</assignToReference>
                <name>outputRecordsList</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>vistitation_log_screen</name>
        <label>vistitation log screen</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Client_Name</targetReference>
        </connector>
        <fields>
            <name>vistitation_log_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>vistitation_log_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>client</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Visitation_Log__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Client_jn__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Client</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>visitationRecord.Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>vistitation_log_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>visitationRecord.Visit_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>visitationRecord.Court_Ordered__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>visitationRecord.Comments__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>visitationRecord.Location__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>visitationRecord.Specify_any_other_participants_that_are__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>visitationRecord.Conditions__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>visitationRecord.Conditions_Comments__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Person_Select_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collateral_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>Collateral_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Collateral__c</objectType>
    </variables>
    <variables>
        <name>parentFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Person_Involved_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>person_involved_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Person_Involved__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_collateral</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Records</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visitation_Log__c</objectType>
    </variables>
</Flow>
